body {
  background-color: #87CEEB;
}

div {
  margin-bottom: 50px;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

nav.sticky {
  display: block;
  width: 60px;
  position: sticky;
  background-color: green;
  font-size: 20px;
  opacity: 90%;
  padding: 5px;
}

span {
  background-color: #FFFACD;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  width: 100px;
  height: 50px;
  padding-top: 5px;
  padding-right: 30px;
  padding-left: 20px;
  padding-bottom: 5px;
}

p.classy {
  margin-left: 10px;
  word-wrap: normal;
  color: black;
}

#igottabeme {
  font-family: Arial, Helvetica, sans-serif;
}

#d1 {
  display: block;
  word-wrap: normal;
}

#d2 {
  display: absolute;
}

#d3 {
  display: inline-block;
  word-wrap: break-word;
}
